.app {
    background-color: lightgray;
    position: absolute;
    width: 300px;
    height: 500px;
    z-index: 5;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -150px;
}

.header {
    z-index: 20;
    background-color: lightgray;
    position: relative;
    width: 300px;
    height: 100px;
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2px;
}

.ball-list-container {
    margin: 0;
    padding: 0;
    position: relative;
    width: 300px;
    height: 400px;
    background-color: white;
    overflow-y: auto;
}

.ball-list {
    list-style-type: none;
    width: auto;
    height: auto;
    background-color: white;
    margin: 0;
    text-align: center;
    padding: 0;
}

.button {
    margin: 10px auto;
}

.grid-item1 {
    grid-column: 1 / 3;
}

.shadow {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.canvas {
    width: 200px;
    height: 100px;
}